body{
    font-family: 'Merriweather Sans', sans-serif;
    background:#8A2BE2;
    background:linear-gradient(#8A2BE2,#FF4500);
}

.titulo{
    width: 1250px;
    background: coral;
    display: flex;
    align-items: center;
    background: white;
    border: 5px solid #000000;
    border-radius: 15px;
    padding: 0 20px;
    margin-left: 50px;
}
i{
    color:	#FF4500;
    background: white;
}
h1{
    font-size: 3em;
    color:rgb(255,120,0);
    margin: 1em  2em 20px;
    font-weight: bold;
}
h2{
    margin: 0 20px;
    font-size: 30px;
    display:inline-block;
}

.titulo-img{
    width: 200px;
    display: inline-block;
}


.informacoes{
    padding: 10px;
    margin-top: 50px;
    max-width: 1250px;
    margin-left: 50px;
    display: inline-block;
    border: 3px dashed #000000;
    border-radius: 20px;
    color: white;
}
.informacoes p{
    font-size: 25px;
    text-align: center;
}
.informacoes-lista{
    margin-top: 20px;
    padding: 0 100px;
}
.informacoes-itens{
   line-height: 3;
   font-size: 20px;
   display: block;
}
.informacoes-itens:before{
    content: "🍊";
}

.agendamento{
    background:	#4B0082;
    position:absolute;
    right: 20px;
    top: 40px;
    height: 900px;
    width: 500px;
    border: 4px solid #FFFFFF;
    border-radius: 20px; 
    color:white
}

form{ 
    margin: 25px;
    text-align: center; 
    display: block; 
}
form legend{
    font-size: 28px;
}
.email,.data, .local{
    border-radius: 5px;
    font-size: 18px;
}

form label, form select{
    padding: 2.5px 0;
    margin: 20px auto;
    display: block; 
    text-align: center;
    font-size: 18px;
}

.imagemForms{
    display: block;
    margin: 0 auto;
}
.enviar{
    display: inline-block;
    background: #ffffff;
    font-size: 15px;
    font-weight: bold;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid orange;
    border-radius: 15px;
    color: orange
}
.enviar:hover{
    color:#ffffff;
    background: orange;
    border: 2px dashed white;
}


.rodape{
    margin: 50px 100px;
    width: 1100px;
    height: 60px;
    padding: 50px 50px;
/*    border: 3px solid #000000;*/
    border-radius: 20px;
    text-align: center;
}

.rodape p{
    font-size: 30px;
}

.rodape-img{
    width: 15%;
    position: absolute;
    right: 100px;
    top: 1000px;
}

.agradecimento-box{
    border-style: solid;
    padding: 25% 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 45px;
    text-align: center;
}
.agradecimento-texto{
    border: 4px solid #000000;
    background: #8A2BE2;
    padding: 50px 40px;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 15%;
    border-radius: 15px;
    line-height: 1.3;
}